<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h2><%=@purchase.customer_name%></h2>
    <p>Price: <%=@purchase.price.to_s%></p>
    <p>Size: <%=@purchase.size%></p>
    <p>Creamer: <%=@purchase.creamer_strength%></p>
    <p>Special Instructions: <%=@purchase.special_instructions%></p>
    <%if @purchase.brew != nil%>
      <%= link_to @purchase.brew.blend_name, brew_path(@purchase.brew)%>
    <%end%>
  </body>
</html>
